// .slide-intro {
//     swiper-slide {
//         height: 300px;
//         background-color: $primary;
//     }
// }
h1 {
  font-family: $font-playfair;
  font-size: 80px;
}
h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

// cover ------------------------------
.wave_wrap {
  height: 100%;
}
.wave {
  min-width: 300vw;
  min-height: 300vw;
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  bottom: 50vh;
  left: -107vw;
}
.back {
  opacity: 60%;
  left: -102vw;
  border-radius: 49%;
}

// bounce circle
.cir-wrap {
  position: absolute;
  top: 220px;
  right: 150px;
}
.bounce_cir1 {
  width: 50px;
  height: 54px;
  border-radius: 50px;
  transform: rotate(45deg);
  background: $primary;
  opacity: 70%;
  // position: relative;
  // top: 300px;
  // right: 100px;
}
.bounce_cir2 {
  width: 30px;
  height: 35px;
  border-radius: 35px;
  transform: rotate(15deg);
  background: $primary;
  opacity: 70%;
  position: relative;
  top: 9px;
  right: 21px;
}

// text marquee
.marquee_wrap {
  position: absolute;
  top: 40.7%;
}
.marquee_inner {
  display: flex;
  overflow-x: hidden;
  margin-top: -35px;
  .box {
    animation: marquee infinite linear;
    white-space: nowrap;
    font-family: $font-playfair;
    letter-spacing: -1px;
    // font-weight: 500;
    font-size: 70px;
    padding-left: 24px;
    .sub {
      color: transparent;
      -webkit-text-stroke: 0.5px $secondary;
      font-style: italic;
    }
  }
  .top {
    animation-duration: 150s;
    animation-direction: normal;
  }
  .center {
    animation-duration: 200s;
    animation-direction: reverse;
  }
  .bottom {
    animation-duration: 250s;
    animation-direction: normal;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

// scroll
.scroll-wrap {
  @include posX;
  bottom: 5vh;
}
.scroll {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  transform: rotate(90deg);
  gap: 15px;
  span {
    display: block;
  }
  .bar {
    width: 120px;
    height: 1px;
    background: $white;
    .bar-ani {
      width: 100%;
      height: 1px;
      background: $txtDefult;
      animation: updown 2s infinite ease-in-out;
    }
  }

  @keyframes updown {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

// intro ------------------------------
.contents-wrap {
  @include flexCol;
  padding: 160px 0;
}

.list-wrap {
  display: flex;
  padding-top: 110px;
  gap: 20px;
  justify-content: space-around;
  h3 {
    font-size: 32px;
    padding-bottom: 20px;
  }
}

// project sections ------------------------------
#pjt-section {
  .inner {
    display: flex;
    flex-direction: column;
    gap: 300px;
    padding: 0;
  }
}
.project-wrap {
  @include flexwrap;
  justify-content: space-between;
  height: 80vh;
  box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
  transition: all 0.3s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.3);
  }
  .thumb-wrap {
    width: 65%;
    padding: 30px;
  }
  .thumb {
    height: 100%;
    position: relative;
    overflow: hidden;
    // border: 1px solid $secondary;
    img {
      width: 100%;
      &:hover {
        animation: imgScroll 30s;
      }
      @keyframes imgScroll {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-100%);
        }
      }
    }
  }
  .txt-wrap {
    @include flexCol;
    justify-content: flex-start;
    width: 35%;
    padding: 30px;
    h1 {
      // font-family: "pretendard";
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 50px;
    }
    .txt {
      flex-grow: 1;
    }
  }
  li {
    display: flex;
  }
  span {
    text-align: left;
    margin-bottom: 30px;
    &:nth-child(1) {
      width: 100px;
    }
  }
  .desc {
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 5px;
    }
  }
  .button-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
  }
  #gotoBtn {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: $white;
    font-family: $font-playfairDM;
    font-weight: 600;
    position: relative;
    // overflow: hidden;
    --a: initial;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: var(--top);
      left: var(--left);
      width: 200px;
      height: 200px;
      transform: scale(0);
      // pointer-events: none;
      animation: var(--a);
      background-color: $secondary;
      border-radius: 300px;
    }
  }
}

// footer ------------------------------
#footer {
  position: relative;
}
.ft-logo {
  position: relative;
  top: -177px;
  left: -8px;

  a {
    color: $primary;
    font-family: $font-playfair;
    font-weight: 400;
    font-size: 150px;
    letter-spacing: -5px;
    white-space: nowrap;
    span {
      &:nth-child(2) {
        color: transparent;
        -webkit-text-stroke: 0.2px $primary;
        font-style: italic;
      }
    }
  }
}

.copy {
  color: $white;
  opacity: 70%;
  position: absolute;
  bottom: 10px;
}
